@model MediaLibrary.WebUI.Models.HomeViewModel

@{
    ViewBag.Title = string.Empty;
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to KOW Moosic!</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
</div>