body {
    width: 100vw;
    height: 100vh;
}

.header-content {
    padding: 10px 0px 0px 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px 15px 0px 15px;
}

.footer-content {
    padding: 0px 15px 0px 15px;
}

audio, video {
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.track-img {
    width: 40px;
    /*height: 40px;*/
}

.bg-black {
    background-color: black;
}
