@model MediaLibrary.WebUI.Models.PlaylistViewModel

<div class="modal fade" id="@(HtmlControlsRepository.NewPlaylistModalId)" tabindex="-1" role="dialog" aria-labelledby="modalNewPlaylistTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewPlaylistTitle">New Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtNewPlaylist" class="form-label">Playlist</label>
                    <input type="text" class="form-control form-control-sm" id="txtNewPlaylist" name="playlistName" placeholder="Playlist name">
                </div>
                <div>
                    <label for="ddlPlaylistType" class="form-label">Type</label>
                    @Html.DropDownList("playlistType", Model.PlaylistTabItems, new { @class = "form-select form-select-sm", id = "ddlPlaylistType", disabled = "disabled" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-playlist-action="save" data-bs-tooltip="tooltip" title="Save playlist">Save</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-bs-tooltip="tooltip" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>