<div class="modal fade" id="@(HtmlControlsRepository.NewPodcastModalId)" tabindex="-1" role="dialog" aria-labelledby="modalNewPodcastTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalNewPodcastTitle">New Podcast</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="txtNewPodcast">RSS feed</label>
                <input type="text" class="form-control" id="txtNewPodcast" name="rssFeed" placeholder="RSS feed">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-podcast-action="save" data-tooltip="tooltip" title="Save podcast">Save</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" data-tooltip="tooltip" title="Cancel">Cancel</button>
        </div>
    </div>
</div>
</div>
