@model MediaLibrary.WebUI.Models.MediaLibraryViewModel

<div class="modal fade" id="@(HtmlControlsRepository.AddToPlaylistModalId)" role="dialog" aria-labelledby="modalAddToPlaylistTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-none">
                <h5 class="modal-title" id="modalAddToPlaylistTitle">Select playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input id="txtPlaylistUrl" type="hidden" value="" />
                <input id="txtPlaylistItemId" type="hidden" value="" />
                <div id="@(HtmlControlsRepository.PlaylistListContainerId)"></div>
            </div>
        </div>
    </div>
</div>