<div class="modal fade" id="@(HtmlControlsRepository.EdiPlaylistModalId)" tabindex="-1" role="dialog" aria-labelledby="modalEditPlaylistTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditPlaylistTitle">Edit playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtPlaylistName">Playlist</label>
                    <input type="text" class="form-control" id="txtPlaylistName" placeholder="Playlist name">
                    <input type="hidden" id="txtPlaylistId" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-playlist-action="edit" data-tooltip="tooltip" title="Save playlist">Save</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" data-tooltip="tooltip" title="Cancel">Close</button>
            </div>
        </div>
    </div>
</div>