<div class="modal fade" id="@(HtmlControlsRepository.SettingsModalId)" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-none">
                <h5 class="modal-title" id="modalNewPlaylistTitle">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("Settings")
            </div>
            <div class="modal-footer d-none">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-bs-tooltip="tooltip" data-bs-title="Close">Close</button>
            </div>
        </div>
    </div>
</div>