@model IEnumerable<Playlist>

<div class="row">
    <div class="col-auto border-end">
        <h6>Playlists</h6>
    </div>
    <div class="col d-flex flex-row flex-wrap">
        @foreach (var playlist in Model.Where(playlist => playlist.Id > 0)
                                       .OrderBy(playlist => playlist.Name, StringComparer.OrdinalIgnoreCase))
        {
            <div class="input-group input-group-sm w-auto m-1">
                <span class="input-group-text">@(playlist.Name)</span>
                <button class="btn btn-sm btn-outline-primary" data-bs-tooltip="tooltip" title="@(playlist.Name)" data-playlist-action="add"
                    data-playlist-type="@((Enums.PlaylistTabs)playlist.Type)" data-playlist-item="enabled" data-playlist-id="@(playlist.Id)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        }
    </div>
</div>