@model IEnumerable<Playlist>

<ul class="list-group list-group-flush">
    @foreach (var playlist in Model.Where(playlist => playlist.Id > 0))
    {
    <li data-playlist-item="enabled" data-playlist-id="@(playlist.Id)" class="list-group-item list-group-item-action" data-tooltip="tooltip" title="@(playlist.Name)"
        data-playlist-action="add" data-playlist-type="@((Enums.PlaylistTabs)playlist.Type)">@(playlist.Name)</li>
    }
</ul>