@model PodcastConfiguration

<div class="d-flex flex-column flex-fill overflow-auto">
    <div class="row m-0 p-0">
        <div class="col-auto border-right">
            <h6>Interface</h6>
        </div>
        <div class="col">
        </div>
    </div>
</div>