@model TelevisionConfiguration

@{
    SelectList seriesSortList = new SelectList(TelevisionRepository.GetSeriesSortItems(), "Value", "Name");
}

<div class="d-flex flex-column flex-fill overflow-auto">
    <div class="row m-0 p-0 mb-3">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Interface</h6>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div>
                        @Html.LabelFor(x => x.SelectedSeriesSort, "Series Sort", new { @class = "form-label" })
                        @Html.DropDownListFor(x => x.SelectedSeriesSort, seriesSortList, null, new { @class = "form-select form-select-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 mb-3">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Path</h6>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div>
                        @Html.TextBoxFor(x => x.FilePath, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Actions</h6>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-sm btn-outline-secondary" data-television-settings-action="refresh" data-bs-tooltip="tooltip" data-bs-title="Refresh episodes"><i class="fa fa-sync"></i></button>
            </div>
        </div>
    </div>
</div>