@model TelevisionConfiguration

@{
    SelectList seriesSortList = new SelectList(TelevisionRepository.GetSeriesSortItems(), "Value", "Name");
}

<div class="d-flex flex-column flex-fill overflow-auto pt-3 p-1">
    <form>
        <div class="row m-0 p-0 mb-3">
            <div class="col-3 border-right">
                <h6>Options</h6>
            </div>
            <div class="col-9">
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="width: 100px">Series Sort</div>
                            </div>
                            @Html.DropDownListFor(x => x.SelectedSeriesSort, seriesSortList, null, new { @class = "custom-select" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>