@using MediaLibrary.DAL.Services.Interfaces
@model Artist
@inject IDataService dataService

@{
    bool hasPlaylists = await dataService.Exists<Playlist>(item => item.Type == Enums.PlaylistTypes.Music);
}

<div class="d-flex flex-column" data-song-id="@(Model.Id)">
    <div class="row">
        <div class="col-auto border-end">
            <h6 style="width: 100px">Actions</h6>
        </div>
        <div class="col mb-3">
            @if (hasPlaylists)
            {
                <button type="button" class="btn btn-sm btn-outline-secondary" data-playlist-url="@(Url.Action("AddArtistToPlaylist", "Music"))" data-item-id="@(Model.Id)"
                    data-bs-toggle="modal" data-bs-target="#@(HtmlControlsRepository.AddToPlaylistModalId)" data-bs-tooltip="tooltip" data-bs-title="Add to playlist"
                    data-playlist-type="@(nameof(Enums.PlaylistTypes.Music))">
                    <i class="fa fa-plus"></i>
                </button>
            }
        </div>
    </div>
</div>