@model MediaLibrary.WebUI.Models.MusicViewModel

<div class="d-flex flex-column flex-fill" style="overflow-y: auto">
    <div class="d-flex flex-column">
        <h4>Favorites</h4>
        <div class="d-flex ps-1 pe-1">
            <div class="flex-fill">
                <button class="btn btn-sm btn-outline-secondary" data-back-button="favorites" data-bs-tooltip="tooltip" data-bs-title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
            </div>
        </div>
        <div><hr /></div>
    </div>
    <div class="flex-fill" style="overflow-y: auto">
        <div id="@(HtmlControlsRepository.FavoritesContainerId)">
            @if (Model.Configuration.SelectedMusicTab == Enums.MusicTabs.Albums)
            {
                <partial name="~/Views/Music/Albums.cshtml" model="Model" />
            }
            else if (Model.Configuration.SelectedMusicTab == Enums.MusicTabs.Artists)
            {
                <partial name="~/Views/Music/Artists.cshtml" model="Model" />
            }
            else
            {

                <div>No favorites.</div>
            }
        </div>
    </div>
</div>