@model MediaLibrary.WebUI.Models.MusicViewModel

<div class="d-flex flex-column flex-fill" style="overflow-y: auto">
    <div class="d-flex flex-column">
        <h4>Search Music</h4>
        <div class="d-flex pl-1 pr-1">
            <div class="flex-fill">
                <button class="btn btn-sm btn-outline-secondary" data-back-button="search" data-bs-tooltip="tooltip" data-bs-title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
                <div class="d-none">
                    <a class="btn btn-sm btn-outline-secondary" href="#@(HtmlControlsRepository.SearchSongsContainerId)"><i class="fa fa-music"></i></a>
                    <a class="btn btn-sm btn-outline-secondary" href="#@(HtmlControlsRepository.SearchArtistsContainerId)"><i class="fa fa-user"></i></a>
                    <a class="btn btn-sm btn-outline-secondary" href="#@(HtmlControlsRepository.SearchAlbumsContainerId)"><i class="fa fa-compact-disc"></i></a>
                </div>
            </div>
            <div class="flex-fill">
                <div class="input-group input-group-sm">
                    <input type="text" data-search="query" class="form-control" id="@(HtmlControlsRepository.SearchQueryId)"
                           minlength="3" placeholder="Enter search text..." />
                    <button data-music-action="search-music" class="btn btn-sm btn-outline-success">
                        <i class="fa fa-search" data-searching-visible="false"></i>
                        <i class="fa fa-spinner fa-spin d-none" data-searching-visible="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div><hr /></div>
    </div>
    <div class="flex-fill" style="overflow-y: auto">
        <div id="@(HtmlControlsRepository.SearchSongsContainerId)"><partial name="~/Views/Music/Songs.cshtml" model="Model" /></div>
        <hr />
        <div id="@(HtmlControlsRepository.SearchArtistsContainerId)"><partial name="~/Views/Music/Artists.cshtml" model="Model" /></div>
        <hr />
        <div id="@(HtmlControlsRepository.SearchAlbumsContainerId)"><partial name="~/Views/Music/Albums.cshtml" model="Model" /></div>
    </div>
</div>